body {
    font-size: 18px; 
    background: #fff0da;
	font-family: 'Baloo Tamma 2', cursive;
}

.header-container { 
    background-color: white;
     height: auto;
}

.foto { 
    background-color: black;
    border: 50%;
    float: left; 
    margin-top: 15px;
    margin-left: 40px;
    padding: 10px 10px 0px 10px; 
}

.nome { 
    font-size: 0.7em;
    color: #800000;
	font-family: 'Zeyada', cursive;	
    text-align: center;   
    clear: both;
}

.sobre { 
    line-height: 1.3em;
	font-family: 'Dosis', sans-serif;
    float: right;	
    width: 80%;
}

h3 {
	font-size: 1.3em;
	color: #800000;
    line-height: 0em; 
}

.hab-um { font-size: 1em; }
.hab-dois { font-size: 0.95em; }
.hab-tres { font-size: 0.9em; }
.hab-quatro { font-size: 0.85em; }
.hab-cinco { font-size: 0.8em; }

button {
    color: #FFFF00;
    font-family: 'Baloo Tamma 2', cursive;
    font-size: 0.8em;
    background-color: #800000;
    padding: 6px; 
    border-radius: 20px;
}
    


	
	


